.env
.env.local
*.env.*
# Prevent accidental secret exposure
!env_example.txt
node_modules/
dist/
.vscode/
.DS_Store
npm-debug.log
coverage/
*.log
*.pem
*.key
npm-debug.log*
yarn-debug.log*
yarn-error.log*
